body {
    background: grey;
    div {
        color: red;
        background: url(/assets/img/test.jpg);
        ul {
            margin-top: 40px;
            li {
                padding-bottom: 100px;
            }
        }
    }
}